# MacOS Desktop Services Store
.DS_Store

# VuePress files
odyssey/.vuepress/.temp/
odyssey/.vuepress/.cache/
odyssey/.vuepress/dist/

# Dist files
dist/
lib/

# Node modules
node_modules/

# Log files
*.log

# Typescript build info
*.tsbuildinfo
