body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light {
  background-color: #f9f9f9;
  color: #000;
}

body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark .footer-main {
  background-color: #121212;
  color: #aaa;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #a9a9a9;
  font-style: italic;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Style for the separators */
.nav-separator {
    font-size: 15px;
    color: #333;
    margin: 0 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

nav a:active {
  color: #0056b3;
}

/* Button for theme switch */
.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.theme-toggle-btn i {
  font-size: 40px;
  margin-top: -20px;
  margin-right: -10px;
  color: #f39c12;
}

.theme-toggle-btn:focus {
  outline: none;
}

.theme-toggle-btn:hover {
  transform: scale(1.1);
}

.dark .theme-toggle-btn i {
  color: #3498db;
}

/* Avatar images styling */
.avatar {
  position: relative;
  width: 160px;
  height: 160px;
  perspective: 1000px;
  margin-bottom: -1px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  filter: grayscale(20%) sepia(10%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

.avatar .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.avatar .back {
  transform: rotateY(180deg);
}

.avatar:hover .front {
  transform: rotateY(-180deg);
  filter: grayscale(3%) sepia(7%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.avatar:hover .back {
  transform: rotateY(0deg);
  filter: grayscale(3%) sepia(5%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

/* Link styling */
.links a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  margin: 0 15px;
}

.links a:hover {
  color: #0056b3;
}

.links a:active {
  color: #6f42c1;
}

/* Footer styling */
.footer-main:before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: #ededed 1px solid;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  box-shadow: #FFF 0 0 0 5px;
  border-radius: 3px;
}

.footer-main {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 16px;
  transform: translateX(-50%);
  border-top: 1px solid #ededed;
  padding: 20px 0;
  background-color: #f9f9f9;
  font-size: 0.7rem;
  color: #aaa;
  text-align: center;
}

.footer-line {
  width: 50%;
  border-top: 1px solid #ededed;
  margin: 0 auto;
}
