<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Homepage</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div class="avatar">
      <img src="{{ avatar_url }}" alt="Main Profile Picture" class="front">
      <img src="{{ hover_avatar_url }}" alt="Virtual Profile Picture" class="back">
    </div>
      <h1>{{ name }}</h1>
      <p>{{ description | safe }}</p> 
      <div class="links">
        <a href="{{ blog_url }}">Blog</a> |
        <a href="{{ portfolio_url }}">Portfolio</a> |
        <a href="mailto:one.lemorage@gmail.com?subject=Ti%20Amo&body=Hi%20there,%0D%0A%0D%0A">Contact</a>
      </div>
  </div>
</body>
</html>

