<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Glenn Miao</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preload" href="{{ avatar_url }}" as="image">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/android-chrome-512x512.png">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="avatar">
      <img src="{{ avatar_url }}" alt="Main Profile Picture" class="front">
      <img src="{{ hover_avatar_url }}" alt="Virtual Profile Picture" class="back" loading="lazy">
    </div>
      <h1>{{ name }}</h1>
      <p>{{ description | safe }}</p> 
      <div class="links">
        <a href="{{ blog_url }}">Blog</a> |
        <a href="{{ portfolio_url }}">Portfolio</a> |
        <a href="mailto:one.lemorage@gmail.com?subject=Ti%20Amo&body=Hi%20there,%0D%0A%0D%0A">Contact</a>
      </div>
  </div>

  <!-- Footer Section -->
  <div class="footer-main">
    Glenn Miao &copy; 2024. All rights reserved.
  </div>

</body>
</html>

